body {
    background-color: darkseagreen;
    height: 100%;
}

a {
    color:whitesmoke;
}

.Progetto {
    border: 3px solid black;
    font-weight:bold;
    background-color:whitesmoke;
    width: 100%;
}

.ProgettoPersonale {
    border: 3px solid black;
    font-weight:bold;
    background-color:whitesmoke;
    width: 100%;
}

.Intestazione {
    font-size: 20px;
}

.Tabella{
    width: 70%;
    background-color: whitesmoke;
}

#ultimoAccesso {
    font-size: 15px;
}
